<!DOCTYPE html>
<html>
<head>
    <title>MONGODB PAGE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h4 align="left">Websystem:Exercise N1(NodeJS with Express and MongoDB on Heroku)</h4>
<h1 align="center">Database Results</h1>
<div class="container">
    <table style="width:100%" border="3px" >
        <tr bgcolor>
            <th>Name</th>
            <th>University</th>
            <th>Stream</th>
            <th>Year</th>
        </tr>
        <% results.forEach(function(r) { %>
            <tr>
                <td align="center"><%= r.name %></td>
                <td align="center"><%= r.university %></td>
                <td align="center"><%= r.stream %></td>
                <td align="center"><%= r.year %></td>
            </tr>
        <% }); %>
    </table>
</div>
</body>
</html>
